.modal-form {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  border-radius: 8px;
  box-shadow: 10px 10px 40px 10px rgba(12, 124, 122, 0.4);
  display: flex;
}
.modal-form__icon-close {
  color: #999;
  font-size: 24px;
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.create-event {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
}
.create-event input {
  border: none;
}
.create-event__name {
  border-bottom: 2px solid #1a73e9 !important;
  margin: 50px auto;
  display: block;
  outline: none;
  width: 320px;
}
.create-event__name:focus::placeholder {
  color: transparent;
}
.create-event__time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.create-event__icon-clock {
  font-size: 24px;
  color: #999;
}
.create-event__additional-info {
  display: flex;
  margin-top: 60px;
}
.create-event__additional-info-icon {
  color: #999;
  margin-right: 5px;
}
.create-event__additional-info-text {
  border: none;
  resize: none;
  padding: 0 10px;
}
.create-event__additional-info-text:focus {
  outline: 2px solid #1a73e9aa;
}
.create-event__additional-info-text:focus::placeholder {
  color: transparent;
}
.create-event__button {
  width: 120px;
  height: 40px;
  background-color: #1a73e9;
  border: none;
  margin-top: 10px;
  margin-left: auto;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.header__top-info {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
}
.header__create {
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__today {
  border-radius: 5px;
}
.header__angle {
  font-size: 30px;
  color: #aaa;
  margin: 10px;
  cursor: pointer;
}
.header__angle:hover {
  color: #0c7c7a80;
}
.header__month {
  font-size: 20px;
  margin-left: 20px;
  color: #999;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: relative;
}
.navigation__days {
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  flex: 1 1 14%;
}

.week, .date-of-month {
  margin-left: 95px;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 24px;
}

.date-of-month {
  margin-bottom: 20px;
}

.curent-date-of-week {
  flex: 1 1 14%;
  color: #999;
  font-weight: 700;
  position: relative;
  font-size: 24px;
  position: relative;
}
.curent-date-of-week:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #ccc;
  left: 0.1px;
  top: 31px;
}

.date-today {
  position: relative;
  color: #fff;
}

.day-today {
  color: #1a73e9;
}

.date-today:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #1a73e9;
  border-radius: 50%;
  z-index: -1;
  top: calc(50% - 22px);
  left: calc(50% - 22px);
  display: block;
}

.horizontal-efect {
  display: flex;
  margin-left: 95px;
  margin-right: 20px;
  height: 25px;
}
.horizontal-efect span {
  flex: 1 1 14%;
  border: 1px solid #ccc;
  border-top: none;
  border-right: none;
}
.horizontal-efect span:last-child {
  border-right: 1px solid #ccc;
}

.greenvich-zone {
  position: absolute;
  top: 75px;
  left: 10px;
  font-size: 12px;
  color: #999;
}

.days {
  display: flex;
  margin-left: 20px;
  margin-top: 150px;
}

.time {
  width: 80px;
  font-size: 12px;
  color: #999;
}

.time-in-day {
  height: 60px;
  position: relative;
}
.time-in-day::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #ccc;
  top: 8px;
  left: 55px;
}
.time-in-day:first-child {
  margin-top: 51px;
}

.current-week {
  display: flex;
  width: 100%;
  margin-right: 20px;
}

.line-hour {
  display: flex;
}
.line-hour:last-child {
  border-right: 1px solid #ccc;
}

.row-hour {
  height: 60px;
  border: 1px solid #ccc;
  order: 0;
  border-top: none;
  border-right: none;
  position: relative;
}
.row-hour:first-child {
  border-top: 1px solid #ccc;
}
.row-hour:hover {
  box-shadow: 1px 0px 2px 2px rgba(12, 124, 122, 0.5);
}

.day-by-hours {
  display: flex;
  flex-direction: column;
  flex: 1 1 14%;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.button {
  border: 1px solid #ccc;
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: #fff;
  margin: 0 10px;
  box-shadow: 1px 1px 1px 0px rgba(12, 124, 122, 0.5);
  font-weight: 700;
  color: #999;
}

.test {
  background-color: #1a73e9;
  height: inherit;
  width: 95%;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid blue;
}
.test:hover {
  z-index: 6;
}
.test span {
  text-align: left;
  margin-left: 8px;
  margin-top: 1px;
  font-size: 12px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
