.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0; 
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #fff;

  &__top-info{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
  }

  &__create {
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__today{
    border-radius: 5px;
  }

  &__angle {
    font-size: 30px;
    color: #aaa;
    margin: 10px;
    cursor: pointer;

    &:hover {
      color: #0c7c7a80;
    }
  }

  &__month {
    font-size: 20px;
    margin-left: 20px;
    color: #999;
  }
}

//Navigation
.navigation {
  display: flex;
  flex-direction: column;
  position: relative;

  &__days {
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
    flex: 1 1 14%;
  }
}

.week, .date-of-month {
  margin-left: 95px;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  height: 24px;
}

.date-of-month {
  margin-bottom: 20px;
}

.curent-date-of-week {
  flex: 1 1 14%;
  color: #999;
  font-weight: 700;
  position: relative;
  font-size: 24px;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: #ccc;
    left: 0.1px;
    top: 31px;
  }
}

.date-today{
  position: relative;
  color: #fff;
}

.day-today{
  color: #1a73e9;
}

.date-today:before{
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #1a73e9;
  border-radius: 50%;
  z-index: -1;
  top: calc(50% - 22px);
  left: calc(50% - 22px);
  display: block;  
}

.horizontal-efect {
  display: flex;
  margin-left: 95px;
  margin-right: 20px;
  height: 25px;

  & span {
    flex: 1 1 14%;
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;

    &:last-child {
      border-right: 1px solid #ccc;
    }
  }
}

.greenvich-zone {
  position: absolute;
  top: 75px;
  left: 10px;
  font-size: 12px;
  color: #999;
}
