.modal-form {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  border-radius: 8px;
  box-shadow: 10px 10px 40px 10px rgba(12, 124, 122, 0.4);

  &__icon-close {
    color: #999;
    font-size: 24px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  &__input {
    border: none;
    border-bottom: 2px solid #1a73e9;
    margin: 50px auto;
    display: block;
    outline: none;
    width: 300px;

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__clock {
    font-size: 24px;
    color: #999;
  }

  &__additional-info {
    display: flex;
    margin-top: 60px;
  }

  &__additional-info-icon {
    color: #999;
    margin-right: 5px;
  }

  &__additional-info-text {
    border: none;
    resize: none;
    padding: 0 10px;

    &:focus {
      outline: 2px solid #1a73e9aa;

      &::placeholder {
        color: transparent;
      }
    }
  }

  &__button {
    width: 120px;
    height: 40px;
    background-color: #1a73e9;
    border: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
}

.event__time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
  padding-right: 100px;  
}

.form-create-event {
  display: flex;
  padding: 0 10px;

  & input {
    border: none;
  }
}
