@import "popup.scss";
@import "header.scss";
@import "calendarsheet.scss";



* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.button {
  border: 1px solid #ccc;
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: #fff;
  margin: 0 10px;
  box-shadow: 1px 1px 1px 0px rgba(12, 124, 122, 0.5);
  font-weight: 700;
  color: #999;
}

.test{
  background-color: #1a73e9;
    height: inherit;
    width: 95%;
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid blue;

  &:hover{
    // box-shadow: 10px 10px 40px 10px rgba(12, 124, 122, 0.4);
    z-index: 6;
  }

  & span {
    text-align: left;
    margin-left: 8px;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 700;
  }
}
